<!DOCTYPE html>
<html>
  <head>
    <title>instatom</title>
  </head>
  <body>
    <h1>instatom</h1>
    <p>get atom feeds from instagram</p>
    <p>http://instatom.freelancis.net/<b>username</b> where 
      <b>username</b> is your instagram user name.</p>
    <p>Try <a href="http://instatom.freelancis.net/ryogasp"
      title="atom feed">http://instatom.freelancis.net/ryogasp</a></p>
  </body>
</html>