<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>instatom</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.jumbotron{
  position:relative;
  text-shadow:0 1px 0 rgba(0,0,0,.1);
  background-color:#eeeeee;

  background-image:-webkit-gradient(linear,left top,left bottom,from(#b1b1b1),to(#eeeeee));
  background-image:-webkit-linear-gradient(top,#b1b1b1 0,#eeeeee 100%);
  background-image:-o-linear-gradient(top,#b1b1b1 0,#eeeeee 100%);
  background-image:linear-gradient(to bottom,#b1b1b1 0,#eeeeee 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1b1b1', endColorstr='#eeeeee', GradientType=0);
  background-repeat:repeat-x
}

.input-group {
  max-width:30em;
}

</style>

</head>
<body>
<div class="jumbotron">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>instatom</h1>
      <p class="lead"><label class="control-label" for="un">get atom feeds from instagram</label></p>
      <div class="form-group">
        <form>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="un" placeholder="Instagram username">
            <span class="input-group-btn">
              <input class="btn btn-default" type="submit" value="Grab">
            </span>
          </div><!-- /input-group -->
        </form>
      </div><!-- /form-group -->
    </div>
  </div>
</div>
</div><!-- /jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-2 hidden-xs">
      <svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="100%" height="200px" viewBox="0 0 500 480" overflow="inherit">
        <g id="insta">
          <path d="M376,123c-21.7,0-103.2,3.6-121-0c-9-2.1-16-11.6-26-16c-28.2-13.4-63.9-9.5-87,7c-3.8,2.7-7.4,7.8-12,9
            c-15.9,4-102.9,0-124,0c0-71,10.8-83.7,36.8-99c0,25,0.3,75,0.3,75h19.8c0,0,0-58.3,0-88c6-3,12.5-5.5,21-6c0,31.3,0,94,0,94h19.8
            c0,0-0-0-0-95.7C376,3.8,375.5,3.8,376,123.8z M322.5,100.5c6.7-4.7,6.4-42.7-0.3-49.5c-5.3-5.4-37.5-4.7-43.7,0.5
            c-9,7.5-5.5,44.5-1,48C282,106.5,314,106.5,322.5,100.5z"/>
            <path d="M376,154c0,0-0.1,108.8-0.1,147.9c0,38-39.7,71.8-84.3,71.6c-34.9-0.2-166.3,0.7-200.3,0.5C50.2,374.3,5,340.5,5.5,303
            c0.5-37.6,0-148.2,0-148.2s71.3-0.2,106-0.2c-18.1,60,19.4,110.8,70,116c60.6,6.3,113.7-48.9,92-116
            C308,154,376,154,376,154z"/>
            <path d="M184.5,134.5c62.9-9.5,79,76.8,29,98c-30.9,13.1-66.7-8.2-72-37C135.6,163.5,157.6,138.6,184.5,134.5z"/>
        </g>
        <g id="atom">
          <path d="M430,135C427,297.2,292.8,425.8,131.2,422.3l-1.2,53.3c191,4.2,349.7-147.8,353.8-338.7L430.6,135.7z"/>
          <path fill="#FFFFFF" d="M324,133.4c-2.2,102.8-87.7,184.6-190.6,182.4l-1.2,53.3c132.2,2.9,242.1-102.3,245-234.5L324,133.4z"/>
        </g>
      </svg>
    </div>

    <div class="col-md-4 col-sm-5">
      <h2>What is this about?</h2>
      <p>You are using a feed reader such as Apple mail,  Feedbin, Feedly, Feed Wrangler, 
        FeedHQ, NewsBlur, The Old Reader, Inoreader, Minimal Reader, 
        BazQux Reader, Fever, Readability or Reeder and you'd like to follow wome folks
        on instagram ? This is a link between instagram and your favorite reader !</p>
    </div>

    <div class="col-md-4 col-sm-5">
      <h2>How to use it ?</h2>
      <p>Subscribe to <code>http://instatom.freelancis.net/<b>username</b></code> where 
        <b>username</b> is your instagram user name.</p>
      <p>Try my feed for example : <a href="http://instatom.freelancis.net/ryogasp"
        title="atom feed">http://instatom.freelancis.net/ryogasp</a></p>
    </div>

  </div>



</div>

<footer role="contentinfo">
  <div class="container">
    <hr>
    <p>Instagram is a trademark from Facebook, Inc. This script 
      is not affiliated with this brand, it just uses a public API</p>
    <p>Built with love by <a href="http://github.com/gasp">gasp</a>. Please do not use this ressource too extensively, instead, <a href="http://github.com/gasp/instatom">install your own instance</a>.</p>
  </div>
</footer>

<a href="https://github.com/gasp/instatom"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(function(){
  $("form").on("submit", function(ev){
    // location without search nor hash
    var loc = location.protocol+'//'+location.hostname+(location.port?":"+location.port:"")+location.pathname;
    var $un = $("#un");
    var un = $.trim($un.val());
    if(un.length) {
      self.location.href = loc + un;
    }
    else {
      $(".form-group").addClass("has-error");
      console.log("error", $un);
    }


    ev.preventDefault();
    return false;
  })
});
</script>
</body>
</html>